.posters {
    padding-top: calc(var(--spacing)*7);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.posters-container {
    background-color: var(--second-dark);
    padding: calc(var(--spacing) * 2);
    min-height: 100vh;
}

@media screen and (min-width: 768px) {
    .posters{
        padding-top: calc(var(--spacing)*2);
        align-items: center;
    }

    .posters-container {
        width: 90%;
        border-radius: 15px;
        min-height: auto;
    }
}