.subillu {
    padding-top: calc(var(--spacing)*7);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.subillu-container {
    background-color: var(--second-dark);
    padding: calc(var(--spacing) * 2);
    min-height: 100vh;
}

.subillu-gallery img{
    max-height: 94vh;
    margin-top: 1%;
}

.illu-linkto-cards {
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: calc(var(--spacing) * 2);
}

.linkto-card {
    width: 100%;
    max-width: 300px;
    height: 100px;
    margin: calc(var(--spacing) * 2);
    border-radius: 10px;
    border: 1px solid var(--third-dark);
    background-color:var(--second-dark);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.linkto-card:hover {
    background-color: hsl(289, 7%, 45%);
    transition: 0.5s;
}

.subillu-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subillu-header {
    text-align: justify;
}

.subillu-header img {
    width: 200px;
    margin-bottom: var(--spacing);
}

/* ARRIERE-PLAN DES CARTES "FANART" */

.filter-cartoons {
    background-image: url('../../../images/Portfolio/illu/fanart/cartoons-mangas/shera_shera.jpg');
}

.filter-digimon {
    background-image: url('../../../images/Portfolio/illu/fanart/Digimon/badge_agumon.jpg');
}

.filter-hollowknight {
    background-image: url('../../../images/Portfolio/illu/fanart/HollowKnight/poster.jpg');
}

.filter-LiS {
    background-image: url('../../../images/Portfolio/illu/fanart/LifeIsStrange/badge_lis1.jpg');
}

.filter-NitW {
    background-image: url('../../../images/Portfolio/illu/fanart/NightInTheWoods/sticker_gang.jpg');
}

.filter-ori {
    background-image: url('../../../images/Portfolio/illu/fanart/Ori/ori.jpg');
}

.filter-pokemon {
    background-image: url('../../../images/Portfolio/illu/fanart/Pokemon/badges_pikachu.jpg');
}

.filter-poudlard {
    background-image: url('../../../images/Portfolio/illu/fanart/Poudlard/house_serpentard.jpg');
}

.filter-shovelknight {
    background-image: url('../../../images/Portfolio/illu/fanart/ShovelKnight/badge_shovel.jpg');
}

.filter-wonderboy {
    background-image: url('../../../images/Portfolio/illu/fanart/Wonderboy/badges_wb3.jpg');
}

/* ARRIERE-PLAN DES CARTES "CONCEPT ART" */

.filter-conceptanubis {
    background-image: url('../../../images/Portfolio/illu/conceptart/anubis/chara5_poses.jpg');
}

.filter-cloudcity {
    background-image: url('../../../images/Portfolio/illu/conceptart/cloudcity/duo.jpg');
}

.filter-concepthybrides {
    background-image: url('../../../images/Portfolio/illu/conceptart/hybrides/clarence1.jpg');
}

.filter-drenay {
    background-image: url('../../../images/Portfolio/illu/conceptart/drenay/banner.jpg');
}

.filter-drenay-archi {
    background-image: url('../../../images/Portfolio/illu/conceptart/drenay/archi/maar.jpg');
}

.filter-drenay-arena {
    background-image: url('../../../images/Portfolio/illu/conceptart/drenay/interface/main_couloir.jpg');
}

.filter-drenay-koharii {
    background-image: url('../../../images/Portfolio/illu/conceptart/drenay/koharii/login-final.jpg');
}

.filter-drenay-worldbuilding {
    background-image: url('../../../images/Portfolio/illu/conceptart/drenay/worldbuilding/lakeyras_armures.jpg');
}

.filter-preymask {
    background-image: url('../../../images/Portfolio/illu/conceptart/mask/blessee.jpg');
}

@media screen and (min-width: 768px) {
    .subillu{
        padding-top: calc(var(--spacing)*2);
        align-items: center;
    }

    .subillu-container {
        width: 90%;
        border-radius: 15px;
        min-height: auto;
        margin: calc(var(--spacing)*5) 0;
    }

    .subillu-gallery {
        padding: 0 var(--spacing);
    }

    .linkto-card {
        height: 150px;
        margin: calc(var(--spacing) * 3) var(--spacing);
    }

    .subillu-header {
        flex-direction: row;
        justify-content: space-around;
    }

    .subillu-header img {
        width: 150px;
        margin-bottom: 0;
    }

    .subillu-header p {
        width: 70%;
    }
}