.subillu {
    padding-top: calc(var(--spacing)*7);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.subillu-container {
    background-color: var(--second-dark);
    padding: calc(var(--spacing) * 2);
    min-height: 100vh;
}

.illu-linkto-cards {
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: calc(var(--spacing) * 2);
}

.linkto-card {
    width: 100%;
    max-width: 300px;
    height: 100px;
    margin: calc(var(--spacing) * 2);
    border-radius: 10px;
    background-color:var(--second-dark);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkto-card:hover {
    background-color: hsl(289, 7%, 45%);
}

/* ARRIERE-PLAN DES CARTES DE REDIRECTION */

.filter-cloudcity {
    background-image: url('../../../images/Portfolio/illu/conceptart/cloudcity/duo.jpg');
}

@media screen and (min-width: 768px) {
    .subillu{
        padding-top: calc(var(--spacing)*2);
        align-items: center;
    }

    .subillu-container {
        width: 90%;
        border-radius: 15px;
        min-height: auto;
        margin: calc(var(--spacing)*5) 0;
    }

    .linkto-card {
        height: 150px;
        margin: calc(var(--spacing) * 3) var(--spacing);
    }
}