.social-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social-icon {
    width: 30px;
    margin: var(--spacing);
    opacity: 1.0;
}

.social-icon:hover {
    opacity: 0.4;
}