.illustration {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--second-dark);
    padding-top:  calc(var(--spacing) * 7);
}

.illu-cards {
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.filter-card {
    width: 100%;
    max-width: 300px;
    height: 150px;
    margin: calc(var(--spacing) * 2);
    background-color:var(--second-dark);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.filter-card:hover {
    background-color: hsl(289, 7%, 45%);
    transition: 0.5s;
}

/* FILTER CARDS */

.filter-armors {
    background-image: url('../../images/Portfolio/illu/armures/lesbian.jpg');
}

.filter-bd {
    background-image: url('../../images/Portfolio/publications/StreetsSheets/21_dadjoke.jpg');
}

.filter-conceptart {
    background-image: url('../../images/Portfolio/illu/conceptart/cloudcity/duo.jpg');
}

.filter-fanart {
    background-image: url('../../images/Portfolio/illu/fanart/okami.jpg');
}

.filter-jdr {
    background-image: url('../../images/Portfolio/illu/jdr/OccultCityForce/uther.jpg');
}

.filter-mytholodex {
    background-image: url('../../images/Portfolio/illu/mytholodex/argus.jpg');
}

.filter-posters {
    background-image: url('../../images/Portfolio/illu/jdr/OccultCityForce/OcfPoster.jpg');
}

.filter-vectoriel {
    background-image: url('../../images/Portfolio/illu/vectoriel/crossover.jpg');
}

@media screen and (min-width: 768px) {

    .illustration {
        margin: calc(var(--spacing) * 8) calc(var(--spacing) * 5);
        padding-top: calc(var(--spacing) * 2);
        border-radius: 15px;
    }

    .filter-card {
        height: 300px;
        margin: calc(var(--spacing) * 3) var(--spacing);
    }
}