.webdesign {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--second-dark);
}

.webdesign h2 {
    margin-top: calc(var(--spacing) * 15);
}

.webdesign-cards {
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.webdesign-cards .filter-card {
    text-align: center;
}

.filter-description {
    display: none;
}

.filter-puntacana {
    background-image: url('../../images/Portfolio/webdesign/puntacana.png');
    background-position: center;
    background-size: cover;
}

.filter-tlorean {
    background-image: url('../../images/Portfolio/webdesign/tlorean.png');
    background-position: center;
    background-size: cover;
}

@media screen and (min-width: 768px) {

    .webdesign {
        margin: calc(var(--spacing) * 5);
        margin-top: calc(var(--spacing) * 15);
        min-height: 50vh;
        justify-content: center;
        align-items: center;
    }

    .webdesign h2 {
        margin-top: calc(var(--spacing) * 2);
    }

    .filter-description {
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: calc(var(--spacing) * 2);
        background-color: hsla(328, 7%, 40%, 0.9);
        border-radius: 5px;
    }
}